html, body {
  margin: 0;
  padding: 0;
  font-family: Karla;
  background-color: #e4dbd6;
  color: white;
  font-weight: bold;
}

@font-face{
  font-family: "Karla";
  src: url("./src_js/karla.ttf") format("truetype");
}

h1 {
  color: #292929;
  font-size: 50px;
  width: 400px;
  text-align: center;
  line-height: 111%;
}

h2 {
  color: #222222;
  font-size: 20px;
  width: 200px; 
  height: 30px;
  text-align: center;
  background-color: #FF8A00;
  border-radius: 12px;
  padding-top: 5px;
}

h3 {
  color: #292929;
  font-size: 20px;
  width: 400px; 
  
}

h5 {
  width: 400px;
  font-weight: 400;
  font-size: 11px;
  color: rgb(151, 151, 151);
  line-height: 130%;
  
}

h6 {
  color: #222222;
  font-size: 20px;
  width: 200px; 
  height: 30px;
  text-align: center;
  padding-top: 5px;
}

p {
  width: 400px;
  font-weight: 400;
  font-size: 16px;
  color: black;
  line-height: 130%;
}

button {
  border: none;
  font-weight: 600;
  color: white;
  background: linear-gradient(176deg, #82bd35,#429f25, #1a7917);
  box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
  border-radius: 50%;
  width: 45px ;
  height: 45px;
  text-align: center;
  text-decoration: none;
  margin: 4px 7px;
  cursor: pointer;
  user-select: none;
  
}

button:hover {
  background: #FF8A00;
  user-select: none;
}

button:focus {
  color: #222222;
  background: #FF8A00;
  user-select: none;
  box-shadow: none;
  box-shadow: inset 0 0 10px #926028;

}

input {
  color: #D45402;
  width: 200px;
  font-weight: bold;
  font-size: medium;
  background-color: white;
  border-radius: 50vh;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  
}

button:focus, input:focus{
  outline: none;
}